{% extends "base-structure.html" %}

{% block title %}
About the Developer
{% endblock %}

{% block head %}
  {{super()}}
  <style>
    body {
      padding-top: 54px;
    }
     a:link {color: black;}
     a:visited {color: black;}
     a:hover {color: red;}
     a:active {color: black;}

    .mt-6{
      display: inline-block;
      padding-right: 30px;
    }

    #first-para {
      padding-top: 15px;
    }

  </style>
{% endblock %}

{% block page_content %}
<div class="container">
   <h1 class="mt-5"><i class="fa fa-user-circle-o" aria-hidden="true"></i> About the Developer</h1>

  <p id="first-para"> Tiana Jarman is a current junior at the University of Delaware. She's majoring in Management Information Systems and minoring in Buisness Analytics. <br>
      She currently spends most of her time in class and working at the Lerner TechDeck. She's currently building her skillset to be prepared to contribute <br>
      at the enterprise-level following graduation.</p>

  <p>She has a passion for database design and likes to dabble in web development.</p>

  <h3 id="link-header">Important Links: </h3>

  <div class="col col-lg-3">
  <h3 class="mt-6"><a href="http://github.com/tianajarman"><i class="fa fa-github" aria-hidden="true"></i></a></h3>
  <h3 class="mt-6"><a href="https://www.linkedin.com/in/tianajarman/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></h3>
</div>

</div>
{% endblock %}
