{% extends "base-structure.html" %}

{% block title %}
All Courses
{% endblock %}

{% block head%}
  {{super()}}
  <style>
    body {
      padding-top: 54px;
    }
  </style>
{% endblock %}

{% block page_content %}
<div class="container">
   <h1 class="mt-5"><i class="fa fa-pencil" aria-hidden="true"></i>Course Directory</h1>

  {% for course in courses %}
        <h4>{{course.course_number}}</h4>
        <h4>{{course.title}}</h4>
        <h4>{{course.description}}</h4>
        <h4>{{course.professor_id}}</h4>
   {% endfor %}
</div>
{% endblock %}
