{% extends "base-structure.html" %}

{% block title %}Courses{% endblock %}

{% block head%}
  {{super()}}
  <style>
    body {
      padding-top: 54px;
    }
  </style>
{% endblock %}

{% block page_content %}
<div class="container">
   <h1 class="mt-5"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Courses</h1>
{# for loop #}
<ul>
  {% for course in courses %}
    <li><a href="#{{course}}" data-toggle="modal" data-placement="right" title="{{course[2]}}">{{course[1]}}</a></li>

    <div class="modal" tabindex="-1" role="dialog">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">{{course[1]}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           {{course[2]}}
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
       </div>
     </div>
    </div>
  {% endfor %}
</ul>
 </div>
{% endblock %}
